<% if @review.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@review.errors.count, "error") %> prohibit this review from being saved:</h2>
    <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <div class="alert">
          <li><%= msg %></li>
        </div>
      <% end %>
    </ul>
  </div>
<% end %>